{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    {% include 'customer/_header.html.twig' %}
    <section class="bg-gray-200 w-full h-full p-3">

        <table class="table w-11/12 m-auto mt-5">
                <thead class="bg-color-primary text-gray-50 w-full">
                    <tr class="border-4 border-gray-300 text-left">
                        <th class="py-2 text-center rounded-l-xl">Alerte</th>
                        <th class="py-2">Identité</th>
                        <th class="py-2">Téléphone</th>
                        <th class="py-2">E-mail</th>
                        <th class="py-2 text-center">Statut</th>
                        <th class="py-2 rounded-r-xl"></th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr class="value border-4 border-gray-200">
                        <td class="bg-gray-50 py-3 rounded-l-xl">
                            <div class="w-12 h-12 rounded-full bg-green-400 flex justify-center items-center m-auto"><i class="fa-solid fa-check text-white text-2xl"></i></div>
                        </td>
                        <td class="bg-gray-50 py-3">
                            <p class="text-xl font-bold">{{ customer.name }}</p>
                            <p class="text-md text-gray-500">{{ customer.company }}</p>
                        </td>
                        <td class="bg-gray-50 py-3 text-md font-bolder">
                            <p>{{ phoneFormat(customer.phone) }}</p>
                            <p class="text-gray-500">{{ phoneFormat(customer.phone2) }}</p>
                        </td>
                        <td class="bg-gray-50 py-3 text-gray-500">{{ customer.email }}</td>
                        <td class="bg-gray-50 text-center py-3">{{ customerStatus(customer)|raw }}</td>
                        <td class="bg-gray-50 py-3 w-1/12 text-center cursor-pointer rounded-r-xl relative" onclick="dropdown('customer-{{ customer.id }}')">
                            <i class="fa-solid fa-ellipsis text-xl"></i>
                            <div id="customer-{{ customer.id }}" class="dropdown absolute bg-white z-10 text-left p-3 -left-3 hidden">
                                <ul>
                                    <li><a href="{{ path('customer_show', {id: customer.id}) }}" class="hover:text-blue-600">Details</a></li>
                                    <li><a href="" class="hover:text-blue-600">Devis</a></li>
                                    <li><a href="" class="hover:text-blue-600">Projet(s)</a></li>
                                    <li><a href="" class="hover:text-blue-600">Facture(s)</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr class="border-4 border-gray-200">
                        <td class="bg-gray-50 py-4 text-center rounded-xl" colspan="5">Pas de client créé</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </section>

    <script>
        function dropdown(id) {
            let dropdowns = document.querySelectorAll('.dropdown');
            let target = document.getElementById(id);

            for (dropdownUnit of dropdowns) {
                if (dropdownUnit !== target) dropdownUnit.classList.add('hidden');
            }

            target.classList.toggle('hidden')
        }
    </script>
{% endblock %}
